<% if @current_user == @board.user %>
  <p><i class="fa fa-heart" aria-hidden="true"></i>　いいね数: <%= @board.likes.count %></p>
<% else %>
  <% if @current_user %>
<% if @current_user.already_liked?(@board) %>
  <%= button_to 'いいねを取り消す', board_like_path(@board, @board.id), method: :delete ,id: "js-favorite-button-for-board-19" %>
  <p><i class="fa fa-heart" aria-hidden="true"></i>　いいね数: <%= @board.likes.count %></p>
<% else %>
  <%= button_to 'いいね', board_likes_path(@board) ,id: "js-favorite-button-for-board-19" %>
  <br>
  <p><i class="fa fa-heart" aria-hidden="true"></i>　いいね数: <%= @board.likes.count %></p>
<% end %>
<% else %>
<p>ログインするといいねできます。</p>
<% end %>

<% end %>